<div class="container-fluid" style="width: 95%; height: 400px">
  <div class=" d-flex flex-row" style="height: auto">
    <div class="col-6  d-flex flex-row">
      <div class="col-4 mr-2 "
           style="width: 100%; height: auto; border-style: solid ">
        <h5 style="text-align: center">Danh sách sản phẩm theo tuần </h5>
        <div>
          <table class="container-fluid">
            <tr style="border-bottom: 1px solid #7f7bcd;">
              <td style="text-align: left">Tên sản phẩm</td>
              <td style="text-align: center">Số lượng</td>
            </tr>
            <tr>
              <td>abc</td>
              <td style="text-align: center">123</td>
            </tr>
            <tr>
              <td>fgh</td>
              <td style="text-align: center">2222</td>
            </tr>
            <tr>
              <td>fgh</td>
              <td style="text-align: center">2222</td>
            </tr>
            <tr>
              <td>fgh</td>
              <td style="text-align: center">2222</td>
            </tr>
          </table>

        </div>
      </div>
      <div class="col-4 mr-2 "
           style=" width: 100%; height: auto; border-style: solid ">
        <h5 style="text-align: center">Danh sách sản phẩm theo tháng </h5>
        <div>
          <table class="container-fluid">
            <tr style="border-bottom: 1px solid #7f7bcd;">
              <td style="text-align: left">Tên sản phẩm</td>
              <td style="text-align: center">Số lượng</td>
            </tr>
            <tr>
              <td>abc</td>
              <td style="text-align: center">123</td>
            </tr>
            <tr>
              <td>fgh</td>
              <td style="text-align: center">2222</td>
            </tr>
            <tr>
              <td>fgh</td>
              <td style="text-align: center">2222</td>
            </tr>
            <tr>
              <td>fgh</td>
              <td style="text-align: center">2222</td>
            </tr>
          </table>

        </div>
      </div>
      <div class="col-4 "
           style=" width: 100%; height: auto; border-style: solid ">
        <h5 style="text-align: center">Danh sách sản phẩm theo năm </h5>
        <div>
          <table class="container-fluid">
            <tr style="border-bottom: 1px solid #7f7bcd;">
              <td style="text-align: left">Tên sản phẩm</td>
              <td style="text-align: center">Số lượng</td>
            </tr>
            <tr>
              <td>abc</td>
              <td style="text-align: center">123</td>
            </tr>
            <tr>
              <td>fgh</td>
              <td style="text-align: center">2222</td>
            </tr>
            <tr>
              <td>fgh</td>
              <td style="text-align: center">2222</td>
            </tr>
            <tr>
              <td>fgh</td>
              <td style="text-align: center">2222</td>
            </tr>
          </table>

        </div>
      </div>
    </div>

    <div class="col-6" style=" width: 100%; height: auto; padding: 0 0 0 20px ">
        <canvas id="myChart" style="width: 100%"></canvas>
    </div>

  </div>
</div>
